.grid-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  padding-left: 140px;
  padding-right: 140px;
}

